/* #region common */
*{
    /*    margin:0;
        padding:0;*/
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    :root{
        --drop-cta: #0061ff;
        --drop-white: #ffffff;
        --drop-bghero: #b4d0e7;
        --drop-ttxt: #000000;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    /* #endregion common */
    
    /* #region debug */
    .debug *{
        border: 1px dashed;
    }
    
    /* #endregion debug */
    
    /* #region utilities */
    a{
        text-decoration: none;
    }
    .col-4{
        width: calc((100%/12)*4);
    }
    .col-8{
        width: calc((100%/12)*8);
    }
    .d-flex{
        display: flex;
    }
    .justify-content{
        justify-content: space-between;
    }
    #header{
        width: 100%;
        background-color: var(--drop-white);
    }
    #headerContent{
        margin:0 auto;
        width: 100%;
    }
    .h_left{
        width:50%;
        padding: 1rem;
           
       
       .logo{
        justify-content: flex-start;
        
       }
       .menu_left{
        padding-left: 10px;
        justify-content: space-around ;
        a{
            padding: 10px;
            text-decoration: none;
            color: var(--drop-ttxt);
            /*valutare inserimento in utilities */
            }
        }
    }
    .h_right{
        width:50%;
        padding:1rem;
        flex-direction: row-reverse;
       
       
       .calltoaction{
        
            justify-content: space-between;
            padding-right:1px;
    
            .access{
                text-decoration: none;
                color: black;
            }
            .login {
                padding: .5rem;
                text-decoration: none;
                color: white;
                background-color: var(--drop-cta);
                border-radius: 10%;
            }
        }
    }
    .menu_right{
        
        padding-right: 10px;
        padding-left: 10px;
        justify-content: space-around ;
        flex-direction: row-reverse;
        a{
            padding: 10px;
            text-decoration: none;
            color: var(--drop-ttxt);
    
        }
    }    
    /* #endregion header */
    
    /* region main */
    .main-container{
        width: 100%;
    }
    
    .hero-container{
        width: 100%;
        background-color: var(--drop-bghero);
    }
    
    .title-container{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .image-container{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    
    }
    
    .content-container {
        width: 100%;
    }
    .container-sm{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    h1{
        text-align: center;
    }
    .free_trial{
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 1rem;
        color: white;
        background-color: blue;
    }
    .arrow_down{
            margin-top:3rem;
            justify-content: space-between;
            
            .fa-arrow-down {
                font-size: 40px;
     }
    }
.card_img{
    position: relative;
}

.jumbo{
    width: 550px;
    position:absolute;
    top: 10%; 
}  
botton
}

    
    
    
    