/* #region common */
*{
    /*    margin:0;
        padding:0;*/
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
     img{
        max-width: 100%;
     }
    
    :root{
        --drop-cta: #0061ff;
        --drop-white: #ffffff;
        --drop-bghero: #b4d0e7;
        --drop-ttxt: #000000;
        --drop-logo-design-green-lignt:#d1e9cd ;
        --drop-logo-design-green-dark: #a2d39b;
    }
    body{
        font-family:;
    }
  
      
    /* #endregion common */
    
    /* #region debug */
        .debug *{
        border: 1px dashed;
    }
    
    /* #endregion debug */
    
    /* #region utilities */
    a{
        text-decoration: none;
    }
    .col-4{
        width: calc((100%/12)*4);
    }
    .col-8{
        width: calc((100%/12)*8);
    }
    .d-flex{
        display: flex;
    }
    .justify-content{
        justify-content: space-between;
    }
    #header{
        width: 100%;
        background-color: var(--drop-white);
        
    }
    #headerContent{
        margin:0 auto;
        width: 100%;
    }
   
    .h_left{
        width:50%;
        padding: 1rem;
           
       
       .logo{
        justify-content: flex-start;
        
       }
       .menu_left{
        padding-left: 10px;
        justify-content: space-around ;
        a{
            padding: 10px;
            text-decoration: none;
            color: var(--drop-ttxt);
            /*valutare inserimento in utilities */
            }
        }
    }
    .h_right{
        width:50%;
        padding:1rem;
        flex-direction: row-reverse;
       
       
       .calltoaction{
        
            justify-content: space-between;
            padding-right:1px;
    
            .access{
                text-decoration: none;
                color: black;
            }
            .login {
                padding: .5rem;
                text-decoration: none;
                color: white;
                background-color: var(--drop-cta);
                border-radius: 10%;
            }
        }
    }
    .menu_right{
        
        padding-right: 10px;
        padding-left: 10px;
        justify-content: space-around ;
        flex-direction: row-reverse;
        a{
            padding: 10px;
            text-decoration: none;
            color: var(--drop-ttxt);
    
        }
    }    
    /* #endregion header */
    
    /* region main */
    .main-container{
        width: 100%;
    }
    
    .hero-container{
        width: 100%;
        background-color: var(--drop-bghero);
    }
    
    .title-container{
        padding-top:3%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        h1{
           padding:1rem;
        }
    }
    
    .image-container{
        width: 70%;
        margin-left: 20%;
        margin-right: 20%;
    
    }
    
    .content-container {
        width: 100%;
    }
    .container-sm{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 4rem;
    }
    h1{
        text-align: center;
    }
    .free_trial{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        color: white;
        background-color: blue;
    }
    .arrow_down{
            margin-top:3rem;
            justify-content: space-between;
            
            .fa-arrow-down {
                font-size: 40px;
     }
    }
.card_img{
    position: relative;
}
.row_fatturazione{
    pa
}
/*.jumbo{
    /width: 550px;
      position:absolute;
    top: 10%; 
}  */

.fa-check{
    color:var(--drop-cta)
}
  .fatturazione_m{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    
    
    h3{
        max-width: ;
    }
  } 
  .card_title_sm{
    padding-top: 1rem;
    h2{
        padding-bottom:3%
    }
  }
  
  .tab_header{
    justify-content: center;
  }
.card_body, .tab_footer{
    padding-left: 3%;
    padding-right:3%
}
.row_vuoto{
    padding-bottom: 2.5rem;
}
.tab_header_e{
    
    padding-left: 3%;
}

.card_partner{
    padding-left: 3%;
    .p{
        space-around;
    }
.partner_btn{
    text-decoration: none;
    padding:1rem;
    justify-content: center;
    color:var(--drop-ttxt)
}
}
.card_operation{
    padding-top: 10%;
    padding-bottom: 3%;
}
.ads-container{

    padding:1%;
.card_users{
    padding-top: 10% ;
    padding-bottom: 5%;
}
}


/* loghi */
.logo_partner{
    display: grid;
    grid-template-columns: ;
}
.card-top{
    width:100%;
    height: 100%;
    padding-left:5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
}
.card-top_designit{
    width:100%;
    height: 100%;
    background-color: var(--drop-logo-design-green-lignt);
    padding-left:5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;

}
.card_bottom{
    width:100%;
    height: 100%;
    padding-left:5%;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 5%;
}
.square{
    /display: flex;
    justify-content: center;
    width:100%;
    height: 100%;
    padding-top:;
       
    background-color: var(--drop-logo-design-green-dark);
    
    
    
}
.designit{
    position:
    width: 90%;
    height: 90%;

    padding-left:%;
}
.square_img{
    /display: flex;
    justify-content: center;
    width:150px;
    height: 150px;
    padding-top:
}
.florida{
    width: 80%;
    padding-top:40%;
    padding-bottom: 40%
       
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
    grid-auto-rows: 300px ;
}
.item{ 
    border:1px solid red;
    padding 20px;
}
.grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr  ;
    gap: 10px;

}
.item3{ 
    grid-row: span 2;
}
.row_grid{
    width:100%;
}